@import url('https://fonts.googleapis.com/css?family=Bowlby+One');

h1{
  font-family: 'Bowlby One', cursive;
  color: #4242b9;
  vertical-align: middle;
}

.container {
  width: 960px;
  margin: auto;
  background-color: #ff8f59;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.tictactoe {
  margin: auto;
}

.top{
  padding: 5px;
}
