@import url('https://fonts.googleapis.com/css?family=Bowlby+One');

  body{
    height: 100%;
    background-image: url(../images/toystory.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

h1{
  font-family: 'Bowlby One', cursive;
  color: #BECE2D;
  vertical-align: middle;
  margin: 0;
  font-size: 60px;
}

/*.container {
  width: 70%;
  height: 810px;
  margin: auto;
  background-color: #ff8f59;
  padding: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  position: relative;
  overflow: hidden;
}*/

.container {
  height: 100%;
  width: 100%;
}

.tictactoe {
  margin: auto;
}

.top{
  padding: 5px;
  border-radius: 20%;
}

.button {
  background: #BECE2D;
  width: 180px;
  padding: 4px 0;
  position: absolute;
  left: 50%;
  top: 96%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}
.button p {
  font-family: 'Bowlby One', cursive;
  text-align: center;
  text-transform: uppercase;
  color: #4188D6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover {
  cursor: pointer;
}
.button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: #927608;
  opacity: 0.4;
  bottom: -22px;
}

.score-board-x {
  background-color: #BECE2D;
  width: 131px;
  height: 110px;
  position: absolute;
  top: 0%;
  border: 6px;
  border-color: #BECE2D;
  border-style: solid;
  margin: 14px;
  border-radius: 20%;
}

.score-board-y {
  background-color: #BECE2D;
  width: 131px;
  height: 110px;
  position: absolute;
  top: 0%;
  border: 6px;
  border-color: #BECE2D;
  border-style: solid;
  right: 0;
  margin: 14px;
  border-radius: 20%;
}

#number-score, p {
  font-family: 'Bowlby One', cursive;
  color: #4188D6;
  vertical-align: middle;
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-size: 2em;
}

.woody, .buzz, .draw {
  font-family: 'Bowlby One', cursive;
  height: 40px;
	width: 50px;
	float: right;
	position: absolute;
	top: 180px;
  left: 220px;
  color: #CDDC39;
	font-size: 42px;
}
